<ion-view title="Enrollments">
    <ion-content padding="true" class="has-header">
    <h5>The following courses have been enrolled in by Ahmed Ahmed</h5>

    <div class="card">
	  <div class="item item-divider">
	    Course Number:Entry
	  </div>
	  <div class="item">
	  	<div class="row">
	  		<div class="col">Course Name</div>
	  		<div class="col">Compro Entry Group</div>
	  	</div>
	  	<div class="row">
	  		<div class="col">Block</div>
	  		<div class="col">October 2014</div>
	  	</div>
	  	<div class="row">
	  		<div class="col">Instructor</div>
	  		<div class="col">Science Faculty</div>
	  	</div>	    

	  </div>

	
	  </div>
	</div>

	  <div class="card">
	  <div class="item item-divider">
	    Course Number:CS401
	  </div>
	  <div class="item">
	  	<div class="row">
	  		<div class="col">Course Name</div>
	  		<div class="col">Modern Programming Practices</div>
	  	</div>
	  	<div class="row">
	  		<div class="col">Block</div>
	  		<div class="col">Nov 2014</div>
	  	</div>
	  	<div class="row">
	  		<div class="col">Instructor</div>
	  		<div class="col">Lu</div>
	  	</div>	    

	  </div>

	
	  </div>
	</div>

		    	
   	</ion-content>
</ion-view>
