<ion-view title="Course Selection">
    <ion-content padding="true" class="has-header">
        <div class="card">
            <div class="item item-divider">
                Student Information:
            </div>

          <div class="item">
            <div class="row">
                <div class="col-67">First name:</div>
                <div class="col">Ahmed</div>
            </div>
            <div class="row">
                <div class="col-67">Last name:</div>
                <div class="col">Ahmed</div>
            </div>
            <div class="row">
                <div class="col-67">Registration number:</div>
                <div class="col">76</div>
            </div>
            </div>
        </div>



<div class="list">

  <a class="item item-icon-left" ui-sref="home.selectPrefrences">
    <i class="icon ion-edit"></i>
    Enter preferences
  </a>

  <a class="item item-icon-left" ui-sref="home.priority">
    <i class="icon ion-mic-a"></i>
    View block priority usage
  </a>


  <a class="item item-icon-left" ui-sref="home.waivers">
    <i class="icon ion-ios7-checkmark"></i>
    View waivers
  </a>

  <a class="item item-icon-left" ui-sref="home.unsatisfiedPrerequisites">
    <i class="icon ion-ios7-minus"></i>
    View courses with unsatisfied prerequisites
    
  </a>
  <a class="item item-icon-left" ui-sref="home.enrolled">
    <i class="icon ion-checkmark"></i>
        View courses you have enrolled in
    
  </a>

</div>


    </ion-content>
</ion-view>