<ion-view title="Priorities">
    <ion-content padding="true" class="has-header">
    <h5>View status of block priorities</h5>

    <div class="card">
	  <div class="item item-divider">
	    Block Priority 1
	  </div>
	  <div class="item item-text-wrap">
	    none
	  </div>
	</div>

    <div class="card">
	  <div class="item item-divider">
	    Block Priority 2
	  </div>
	  <div class="item item-text-wrap">
	    none
	  </div>
	</div>
    <div class="card">
	  <div class="item item-divider">
	    Block Priority 3
	  </div>
	  <div class="item item-text-wrap">
	    none
	  </div>
	</div>
    <div class="card">
	  <div class="item item-divider">
	    Block Priority 4
	  </div>
	  <div class="item item-text-wrap">
	    none
	  </div>
	</div>
    <div class="card">
	  <div class="item item-divider">
	    Block Priority 5
	  </div>
	  <div class="item item-text-wrap">
	    none
	  </div>
	</div>
    <div class="card">
	  <div class="item item-divider">
	    Block Priority 6
	  </div>
	  <div class="item item-text-wrap">
	    none
	  </div>
	</div>				    	
   	</ion-content>
</ion-view>