<ion-view title="Assign Course Preferences">
    <ion-content padding="true" class="has-header">

        <div class="card">
            <div class="item item-divider">
                Student Information:
            </div>

            <div class="item">
                <div class="row">
                    <div class="col">First name:</div>
                    <div class="col">Ahmed</div>
                </div>
                <div class="row">
                    <div class="col">Last name:</div>
                    <div class="col">Ahmed</div>
                </div>
                <div class="row">
                    <div class="col">Reg number:</div>
                    <div class="col">76</div>
                </div>
                <div class="row">
                    <div class="col">Block:</div>
                    <div class="col">December 2014</div>
                </div>

            </div>
        </div>
        <div>
            Select a priority for this block (1 = highest priority):
        </div>
        <div class="card">
            <div class="item item-divider">
                Block priority:
            </div>
            <div class="item item-text-wrap">



                <select>
                    <option>1st highest priority</option>
                    <option selected>2st highest priority</option>
                    <option>3st highest priority</option>
                    <option>4st highest priority</option>
                    <option>5st highest priority</option>
                    <option>6st highest priority</option>
                </select>
            </div>
        </div>
        <div class=row>
            Select your preferences for the courses being taught this block (1 = most preferred)
        </div>
        <div class="card">
            <div class="item item-divider">
                Courses Prefrences:
            </div>
            <div class="item item-text-wrap">
                Database Management Systems (Lerman)
                <select>
                    <option>1/option>
                    <option selected>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                </select>
            </div>

 <div class="item item-text-wrap">
                Big Data (Nair)
                <select>
                    <option>1/option>
                    <option selected>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                </select>
            </div>

 <div class="item item-text-wrap">
                Web Application Architecture (Bruen)
                <select>
                    <option>1/option>
                    <option selected>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                </select>
            </div>

 <div class="item item-text-wrap">
                Software Testing (Dumuzliski)
                <select>
                    <option>1/option>
                    <option selected>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                </select>
            </div>
        </div>
          
        <div class="button-bar">
            <button class="button button-balanced button-block">Submit</button>
            <button class="button button-stable button-block">Reset</button>
            <button class="button button-stable button-block">Cancel</button>
        </div>
    </ion-content>
</ion-view>