<ion-view title="Waivers">
    <ion-content padding="true" class="has-header">
    <h5>The following courses have been waived for Ahmed Ahmed</h5>

    <div class="card">
	  <div class="item item-divider">
	    Course Number 1
	  </div>
	  <div class="item item-text-wrap">
	    Database Management Systems 
	  </div>
	</div>

    <div class="card">
	  <div class="item item-divider">
	    Course Number 2
	  </div>
	  <div class="item item-text-wrap">
	    Web Application Architecture 
	  </div>
	</div>				    	
   	</ion-content>
</ion-view>